        <footer>
        <div>
            <a href="">Powered by Learnigstone</a>
        </div>
        <div>
            <ul>
                <li>Help voor Learningstone test 2</li>
                <li>Feedback & support</li>
                <li>Language</li>
            </ul>
        </div>
    </footer>
</body>
</html>