        <footer>
        <div>
            <a href="">Powered by Learnigstone</a>
        </div>
        <div>
            <ul>Help voor Learningstone test 2</ul>
            <ul>Feedback & support</ul>
            <ul>Language</ul>
        </div>
    </footer>
    </main>
</body>
</html>