<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="scripts/script.js"></script>
    <link rel="stylesheet" href="styles/style.css">
    <title>Home</title>
</head>

<body>
    <header>
        <img src="assets/pictures/hva-header-foto.png" alt="hva-logo">
    </header>
    <nav>
        <ul>
            <a href="/" class="nav-buttons">
                <li>
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M14.1289 14.1211H12.9696V0.439453C12.9696 0.196758 12.7728 0 12.5301 0H2.46891C2.22621 0 2.02945 0.196758 2.02945 0.439453V14.1211H0.870117C0.627422 14.1211 0.430664 14.3179 0.430664 14.5605C0.430664 14.8032 0.627422 15 0.870117 15H14.129C14.3717 15 14.5684 14.8032 14.5684 14.5605C14.5684 14.3179 14.3717 14.1211 14.1289 14.1211ZM6.00155 14.1211V11.1252H8.99748V14.1211H6.00155ZM9.87639 14.1211V10.6857C9.87639 10.443 9.67963 10.2463 9.43693 10.2463H5.5621C5.3194 10.2463 5.12265 10.443 5.12265 10.6857V14.1211H2.90836V0.878906H12.0907V14.1211H9.87639Z"
                            fill="black" />
                        <path
                            d="M6.55492 1.94287H4.40137C4.15867 1.94287 3.96191 2.13963 3.96191 2.38232V4.53588C3.96191 4.77857 4.15867 4.97533 4.40137 4.97533H6.55492C6.79762 4.97533 6.99437 4.77857 6.99437 4.53588V2.38232C6.99437 2.13963 6.79762 1.94287 6.55492 1.94287ZM6.11547 4.09643H4.84082V2.82178H6.11547V4.09643Z"
                            fill="black" />
                        <path
                            d="M10.5979 1.94287H8.44434C8.20164 1.94287 8.00488 2.13963 8.00488 2.38232V4.53588C8.00488 4.77857 8.20164 4.97533 8.44434 4.97533H10.5979C10.8406 4.97533 11.0373 4.77857 11.0373 4.53588V2.38232C11.0373 2.13963 10.8406 1.94287 10.5979 1.94287ZM10.1584 4.09643H8.88379V2.82178H10.1584V4.09643Z"
                            fill="black" />
                        <path
                            d="M6.55492 6.03369H4.40137C4.15867 6.03369 3.96191 6.23045 3.96191 6.47314V8.6267C3.96191 8.86939 4.15867 9.06615 4.40137 9.06615H6.55492C6.79762 9.06615 6.99437 8.86939 6.99437 8.6267V6.47314C6.99437 6.23045 6.79762 6.03369 6.55492 6.03369ZM6.11547 8.18725H4.84082V6.9126H6.11547V8.18725Z"
                            fill="black" />
                        <path
                            d="M10.5979 6.03369H8.44434C8.20164 6.03369 8.00488 6.23045 8.00488 6.47314V8.6267C8.00488 8.86939 8.20164 9.06615 8.44434 9.06615H10.5979C10.8406 9.06615 11.0373 8.86939 11.0373 8.6267V6.47314C11.0373 6.23045 10.8406 6.03369 10.5979 6.03369ZM10.1584 8.18725H8.88379V6.9126H10.1584V8.18725Z"
                            fill="black" />
                    </svg>
                    <p>HvA 2025</p>
                </li>
            </a>
            <li class="divider"></li>
            <li>
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_22_446)">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M7.5 14.25C11.2279 14.25 14.25 11.228 14.25 7.5C14.25 3.77208 11.228 0.749984 7.5 0.749984C3.77208 0.749984 0.749984 3.77208 0.749984 7.5C0.749984 11.2279 3.77208 14.25 7.5 14.25ZM7.5 15C11.6421 15 15 11.6421 15 7.5C15 3.35783 11.6421 0 7.5 0C3.35783 0 0 3.35783 0 7.5C0 11.6421 3.35783 15 7.5 15Z"
                            fill="black" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.44899 7.49995L6.00006 5.20069V9.79929L9.44899 7.49995ZM10.1458 7.06314C10.4575 7.27098 10.4575 7.72899 10.1458 7.93683L6.06623 10.6566C5.71735 10.8892 5.25 10.639 5.25 10.2197V4.78027C5.25 4.36095 5.71735 4.11085 6.06623 4.34346L10.1458 7.06314Z"
                            fill="black" />
                    </g>
                    <defs>
                        <clipPath id="clip0_22_446">
                            <rect width="15" height="15" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                <p>Welcome</p>
            </li>
            <li class="divider"></li>
            <li>
                <svg height="512" viewBox="0 0 60 57" width="512" xmlns="http://www.w3.org/2000/svg">
                    <g id="Page-1" fill="none" fill-rule="evenodd">
                        <g id="012---Stacked-Boxes" fill="rgb(0,0,0)" fill-rule="nonzero">
                            <path id="Shape"
                                d="m57 24h-9.786c.5015341-.5457648.7817569-1.2587999.786-2v-19c0-1.65685425-1.3431458-3-3-3h-19c-.7639211.00024057-1.4986774.29335573-2.053.819l-9.212 6.47c-1.0551795.4906837-1.7314083 1.54731563-1.735 2.711v14c-.7639211.0002406-1.4986774.2933557-2.053.819l-9.212 6.47c-1.05517947.4906837-1.73140831 1.5473156-1.735 2.711v20c0 1.6568542 1.34314575 3 3 3h21c.740399-.0026037 1.4533329-.2806479 2-.78.5466671.4993521 1.259601.7773963 2 .78h21c.8113742-.0004402 1.5876103-.3311529 2.15-.916l7.958-7.958c.570437-.5603504.8918383-1.3263808.892-2.126v-19c-.0082058-1.6534434-1.3465566-2.9917942-3-3zm-6.666 7.327c-.4129299-.2119451-.8698636-.3239521-1.334-.327h-8.766l5-5h11.188zm-26.334-.327h-8c-.5522847 0-1-.4477153-1-1v-20c0-.55228475.4477153-1 1-1h21c.5522847 0 1 .44771525 1 1v20c.0008743.2617573-.1015372.5132943-.285.7l-.02.02c-.1862728.1804188-.4356784.2808987-.695.28zm15.727-22.234 6.273-5.489v18.723c-.0014251.2642598-.1096223.5167198-.3.7l-5.7 5.709v-18.409c-.0011951-.42617997-.0943131-.84708685-.273-1.234zm-1.393-1.439c-.4129299-.21194509-.8698636-.32395209-1.334-.327h-7.085l6.428-5h8.079zm-13.169-4.919c.0506099-.03555351.0978121-.07572565.141-.12.183311-.18524278.4333915-.28902259.694-.288l7.085-.00000749-6.428 5.00000749h-8.03zm-13 24c.0506099-.0355535.0978121-.0757257.141-.12.183311-.1852428.4333915-.2890226.694-.288v4c.0033144.3414397.0655622.679743.184 1h-7.557zm-9.165 28.592c-.55228475 0-1-.4477153-1-1v-20c0-.5522847.44771525-1 1-1h21c.5522847 0 1 .4477153 1 1v20c-.0000381.2617729-.1027208.5130941-.286.7l-.018.017c-.1859805.1818493-.4358891.2834644-.696.283zm25 0c-.5522847 0-1-.4477153-1-1v-20c0-.5522847.4477153-1 1-1h21c.5522847 0 1 .4477153 1 1v20c-.0017673.255461-.1012377.5005589-.278.685l-.022.015-.014.016c-.1837482.1791927-.4293608.2808749-.686.284zm29.7-8.3-5.7 5.7v-18.4c-.0011951-.42618-.0943131-.8470868-.273-1.234l6.273-5.489v18.723c-.0014251.2642598-.1096223.5167198-.3.7z" />
                            <path id="Shape"
                                d="m23 23h-4c-1.1045695 0-2 .8954305-2 2v2c0 1.1045695.8954305 2 2 2h4c1.1045695 0 2-.8954305 2-2v-2c0-1.1045695-.8954305-2-2-2zm-4 4v-2h4v2z" />
                            <path id="Shape"
                                d="m35 23h-3c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h3c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z" />
                            <path id="Shape"
                                d="m35 27h-3c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h3c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z" />
                            <path id="Shape"
                                d="m10 47h-4c-1.1045695 0-2 .8954305-2 2v2c0 1.1045695.8954305 2 2 2h4c1.1045695 0 2-.8954305 2-2v-2c0-1.1045695-.8954305-2-2-2zm-4 4v-2h4v2z" />
                            <path id="Shape"
                                d="m22 47h-3c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h3c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z" />
                            <path id="Shape"
                                d="m22 51h-3c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h3c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z" />
                            <path id="Shape"
                                d="m35 47h-4c-1.1045695 0-2 .8954305-2 2v2c0 1.1045695.8954305 2 2 2h4c1.1045695 0 2-.8954305 2-2v-2c0-1.1045695-.8954305-2-2-2zm-4 4v-2h4v2z" />
                            <path id="Shape"
                                d="m47 47h-3c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h3c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z" />
                            <path id="Shape"
                                d="m47 51h-3c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h3c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z"
                                />
                        </g>
                    </g>
                </svg>
                <p>Catalogus</p>
            </li>
            
            <li>
                <svg id="Layer_1" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512"
                    xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <path
                            d="m13.12 24h-2.24c-.757 0-1.396-.567-1.486-1.32l-.239-1.876c-.477-.155-.937-.346-1.374-.569l-1.494 1.161c-.606.469-1.459.415-1.985-.126l-1.575-1.575c-.537-.521-.591-1.374-.122-1.979l1.161-1.495c-.224-.437-.415-.897-.569-1.374l-1.88-.239c-.75-.092-1.317-.731-1.317-1.488v-2.24c0-.757.567-1.396 1.32-1.486l1.876-.239c.155-.477.346-.937.569-1.374l-1.16-1.494c-.47-.606-.415-1.46.127-1.986l1.575-1.575c.521-.537 1.375-.59 1.979-.122l1.494 1.162c.437-.223.897-.414 1.375-.569l.239-1.88c.09-.75.729-1.317 1.486-1.317h2.24c.757 0 1.396.567 1.486 1.32l.239 1.876c.478.155.938.346 1.375.569l1.494-1.161c.607-.469 1.459-.415 1.985.127l1.575 1.575c.537.521.591 1.374.122 1.979l-1.161 1.495c.224.437.415.897.569 1.374l1.88.239c.749.091 1.316.73 1.316 1.487v2.24c0 .757-.567 1.396-1.32 1.486l-1.876.239c-.155.477-.346.937-.569 1.374l1.161 1.494c.47.606.415 1.459-.127 1.985l-1.575 1.575c-.521.537-1.375.592-1.979.122l-1.495-1.161c-.437.224-.897.415-1.374.569l-.239 1.88c-.091.75-.73 1.317-1.487 1.317zm-5.39-4.86c.083 0 .168.021.244.063.551.308 1.148.556 1.774.736.192.055.333.219.358.417l.28 2.2c.03.251.247.444.494.444h2.24c.247 0 .464-.193.493-.439l.281-2.204c.025-.198.166-.362.358-.417.626-.18 1.223-.428 1.774-.736.175-.098.393-.081.55.042l1.75 1.36c.201.156.483.143.655-.034l1.585-1.585c.181-.176.195-.458.039-.66l-1.36-1.75c-.123-.158-.14-.375-.042-.55.308-.551.556-1.148.736-1.774.055-.192.219-.333.417-.358l2.2-.28c.251-.031.444-.248.444-.495v-2.24c0-.247-.193-.464-.439-.493l-2.204-.281c-.198-.025-.362-.166-.417-.358-.18-.626-.428-1.223-.736-1.774-.098-.175-.082-.392.042-.55l1.36-1.75c.157-.202.143-.484-.033-.654l-1.585-1.585c-.175-.182-.458-.196-.66-.039l-1.75 1.36c-.159.123-.376.14-.551.042-.549-.308-1.146-.555-1.774-.736-.192-.055-.333-.219-.358-.417l-.28-2.2c-.031-.252-.248-.445-.495-.445h-2.24c-.247 0-.464.193-.493.439l-.281 2.204c-.025.198-.166.362-.358.418-.628.18-1.225.428-1.774.735-.175.099-.392.081-.551-.041l-1.75-1.36c-.202-.157-.483-.143-.654.033l-1.585 1.586c-.181.176-.195.458-.039.66l1.36 1.75c.123.158.14.375.042.55-.309.551-.556 1.148-.736 1.774-.055.192-.219.333-.417.358l-2.2.28c-.251.03-.444.247-.444.494v2.24c0 .247.193.464.439.493l2.204.281c.198.025.362.166.417.358.18.626.428 1.223.736 1.774.098.175.082.392-.042.55l-1.36 1.75c-.157.202-.143.484.033.654l1.585 1.585c.175.181.456.195.66.039l1.75-1.36c.091-.068.199-.104.308-.104z" />
                    </g>
                    <g>
                        <path
                            d="m12 17c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5zm0-9c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4z" />
                    </g>
                </svg>
                <p>Instellingen</p>
            </li>
            <li class="divider"></li>
            <li>
                <svg id="Glyph" height="512" viewBox="0 0 128 128" width="512" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m18.26 0a4.07 4.07 0 0 0 -4.07 4.07v122.93a1 1 0 0 0 1 1h6.14a1 1 0 0 0 1-1v-122.93a4.08 4.08 0 0 0 -4.07-4.07zm94.9 8.73a55.3 55.3 0 0 0 -18.91-3.28s-.1 0-.15 0-.09 0-.14 0c-9.46 0-18.88 1.81-28.11 3.63-13.65 2.71-27.73 5.48-41.52 1.92v22.41a56.67 56.67 0 0 0 12.67 1.64v18.35a54.65 54.65 0 0 1 -12.64-1.69v22.4a57.27 57.27 0 0 0 13.51 1.65h.59c9.36 0 18.68-1.85 27.81-3.65 15.19-3 30.9-6.12 46.23-.44a1 1 0 0 0 1.34-.94v-61.06a1 1 0 0 0 -.68-.94zm-57.48 63.34a104.81 104.81 0 0 1 -16.68 1.68v-18.33a103.55 103.55 0 0 0 16.72-1.68zm0-40.71a104.91 104.91 0 0 1 -16.68 1.7v-18.38a105.7 105.7 0 0 0 16.68-1.68zm18.71 16.81c-2.86.51-5.75 1.07-8.55 1.63s-5.43 1.07-8.16 1.56v-18.36c2.86-.52 5.76-1.08 8.56-1.64s5.43-1.06 8.15-1.56zm18.71 18.35a104.32 104.32 0 0 0 -16.71 1.66v-18.34a103.33 103.33 0 0 1 16.71-1.7zm0-40.73a104.34 104.34 0 0 0 -16.71 1.67v-18.32a103.55 103.55 0 0 1 16.71-1.68zm18.71 23.21a55.19 55.19 0 0 0 -16.71-2.84v-18.35a52.66 52.66 0 0 1 16.71 2.93z" />
                </svg>
                <p>Mijn catalogus</p>
            </li>
            <li>
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                    style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M465.455,69.818H46.545C20.839,69.818,0,90.657,0,116.364v279.273c0,25.706,20.839,46.545,46.545,46.545h418.909
                                c25.706,0,46.545-20.839,46.545-46.545V116.364C512,90.657,491.161,69.818,465.455,69.818z M46.545,93.091h418.909
                                c2.659,0.017,5.296,0.489,7.796,1.396L271.825,295.913c-8.651,8.708-22.723,8.754-31.431,0.103
                                c-0.034-0.034-0.069-0.069-0.103-0.103L38.749,94.487C41.249,93.58,43.886,93.107,46.545,93.091z M23.273,395.636V116.364
                                c-0.119-1.355-0.119-2.718,0-4.073L167.331,256L23.273,399.709C23.154,398.354,23.154,396.991,23.273,395.636z M465.455,418.909
                                H46.545c-2.659-0.017-5.296-0.489-7.796-1.396l145.105-145.105l39.913,39.913c17.735,17.802,46.542,17.856,64.344,0.121
                                c0.041-0.04,0.081-0.081,0.121-0.121l39.913-39.913l145.105,145.105C470.751,418.42,468.114,418.893,465.455,418.909z
                                M488.727,399.709L344.669,256l144.058-143.709c0.119,1.355,0.119,2.718,0,4.073v279.273
                                C488.846,396.991,488.846,398.354,488.727,399.709z" />
                        </g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                </svg>

                <p>Mijn berichten</p>
            </li>
        </ul>
    </nav>
    <main>