{% render 'partials/head.liquid' %}
    <main class="home-page">

        <img src="assets/pictures/hva_splash2-908587748.png(1200x)(mediaclass-body-media-large.5ef54ce3ce9bffa034b9b6ec973270a775298c3f)(w6uVPLo_BGUoAn2do70n1dMwy2tbxna_5c2JXjiTh0A).webp" alt="hva-campus">
        
        <div class="home-text">
            <p>Welcome to the public pages of this LearningStone Workspace which contains spaces for collaborative or self-paced learning and coaching.</p>
            <p>If you want to know more about LearningStone, just visit www.learningstone.com or if you need help on specific topics, go to the help section. </p>
            <p>Log in with button above to enter. If you would like to join, just contact us and we’ll send you an email invitation</p>
        </div>
        

        {% render 'partials/foot.liquid' %}
    </main>