/* IBM Plex Sans – Thin (100) */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/IBMPlexSans-Thin.ttf') format('truetype');
}

/* IBM Plex Sans – Extra Light (200) */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/IBMPlexSans-ExtraLight.ttf') format('truetype');
}

/* IBM Plex Sans – Light (300) */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/IBMPlexSans-Light.ttf') format('truetype');
}

/* IBM Plex Sans – Regular (400) */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/IBMPlexSans-Regular.ttf') format('truetype');
}

/* IBM Plex Sans – Medium (500) */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/IBMPlexSans-Medium.ttf') format('truetype');
}

/* IBM Plex Sans – SemiBold (600) */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
}

/* IBM Plex Sans – Bold (700) */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/IBMPlexSans-Bold.ttf') format('truetype');
}

:root{
    --header-color:#342AB6;
    --body-color:#351FB7;
    --navigation-bakcground-color:#9A8FDB;
    --footer-background-color:#2c2c2c;

    --main-light-color:#ffffff;
    --main-dakr-color:#000;

    --home-text-color:#3c4858;

    
}


body {
  display: grid;
  grid-template-columns: 1fr 230px 1070px 1fr;
  grid-template-rows: 60px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  background-color:var(--body-color);
  font-family: 'IBM Plex Sans', sans-serif;
  height: 100vh;
  margin: 0;
  justify-items: center;

  
    
    

    main{
      grid-area: 2 / 3 / 3 / 4;
      background-color: var(--main-light-color);
      overflow-y: auto;
      width: 1070px;
    
    
    
      h1{
        margin: 0;
      }
      
    }
}


header{
  grid-area: 1 / 1 / 2 / 5;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;                             
  z-index: 10;
  background-color: var(--header-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  

  img{
    height: 80%;
    margin: 0 0 0 10%;
  }

}

nav{
  grid-area: 2 / 2 / 3 / 3;
  background-color: var(--navigation-bakcground-color);
  width: 230px;

  

  .nav-buttons{
    display: flex;
    align-items: center;
    gap: 5px;
    color:var(--main-dakr-color);
    text-decoration: none;
    z-index: 999999;

    &:hover{
      background-color: var(--main-light-color);
      }
  }

  ul{
    list-style-type: none;
    padding:0;

    li{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 0 0 20px;
      gap: 5px;

      &:hover{
      background-color: var(--main-light-color);
      }
    }
  }

  .divider{
    height: 1px;
    background-color: white;
    opacity: 0.3;
  }

  svg{
      width: 15px;
      height: 15px;
  }
}


footer{
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 100px;
  background-color:var(--footer-background-color) ;
  color: var(--main-light-color);
  position: fixed;
  bottom: 0;
  width: 1070px;
 

  div{
    padding: 0 50px;
  }

  a{
    color: #bababa;
    text-decoration: none;

    &:hover{
      color: var(--main-light-color);
    }
  }

  ul{
    padding: 0 0 0 0 ;
    list-style-type: none;
  }
}


/* === Homepagina === */
.home-page{
  
  .home-text{
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 30px;
    row-gap: 30px;
    padding: 20px;
  }

  p{
    font-size:1.5em;
    margin: 0 0;
    color: var(--home-text-color);
  }

}